* {
    margin: 0;
    padding: 0;
    /* font-family: 'JSDongkang-Regular'; */
    font-family: 'SDKukdetopokki-Lt';
    color: black;
}

a {
    text-decoration: none;
}

body {
    width: 100%;
    height: 100%;
}


/* 
[ 모든 content가 들어갈 영역 ]
- width : 1440px | height : 790px
*/

#section_main {
    margin: 0 auto;
    width: 1440px;
    height: 790px;
    position: relative;
}